.home-page {
  display: block;
  margin: 0;
  padding: 0;
  background: url("./data/img/Forest.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  /* height: 80vh; */
  /* position: absolute; */
  height: 100vh;
  overflow: auto;
  transition: 500ms;
}

.landingPageBody {
  display: flex;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    rgba(233, 230, 224, 0.334),
    rgba(233, 229, 222, 0.565),
    rgba(215, 213, 209, 0.956),
    rgba(208, 206, 203, 0.899),
    rgba(182, 181, 178, 0.899)
  );
  /* width: 100vw; */
  /* height: 100vh; */
  justify-content: center;
  align-items: center;
  /* align-self: center; */
}

.landingPage-container {
  display: flex;
  flex-direction: column;
  /* background-color: rgba(243, 235, 141, 0.286); */
  /* margin: 120px auto 10px 270px;  */
  /* margin-top: 300px; */
  margin-left: 100px;
  /* border: 1px solid rgb(17, 0, 255); */
}

.first-info {
  margin: 10px;
  margin-bottom: 0;
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* border: 1px solid red; */
  flex: 1;
}

.first-info div {
  box-sizing: border-box;
  padding: 5px;
  margin: 0;
}
.landing-logo {
  display: flex;
  justify-content: end;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 80px;
  padding: 5px;
  margin: 2px;
  color: rgba(115, 8, 6, 0.852);
  flex: 1;
  /* border: 1px solid red; */
}

.first-info-a {
  flex: 1;
  /* border: 1px solid rgb(14, 4, 154);  */
}
.first-info-a h3 {
  color: rgba(115, 8, 6, 0.97);
  font-weight: bold;
  /* margin-top: 2px; */
  /* margin-bottom: 5px; */
}
.first-info-b {
  display: flex;
  flex: 1;
  /* border: 1px solid rgb(4, 154, 39); */
}

/* .first-info-b p{
            } */

.first-info-b .googleEarthLink {
  margin: auto;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
  color: rgba(115, 8, 6, 0.97);
}

.second-info {
  display: flex;
  flex: 1;
  flex-direction: row;
  /* border: 1px solid red; */
}

.cloudMapContainer {
  flex: 1;
  padding-left: 70px;
  /* border: 1px solid rgb(4, 154, 39); */
}

#cloud-map {
  height: 280px;
  background-color: rgb(46, 1, 44);
  cursor: pointer;
  /* border: 1px solid rgb(4, 9, 154); */
}
#link-lcc {
  background-color: rgb(244, 242, 243);
  padding: 10px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: row;
}

#link-lcc .icon {
  margin: 3px;
}

#link-lcc .text {
  margin-left: 7px;
}

#link-lcc .fa-fire {
  font-weight: bold;
  color: rgba(115, 8, 6, 0.97);
  font-size: 60px;
}
#link-lcc a {
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  /* border: 1px solid red; */
  color: rgba(115, 8, 6, 0.97);
}

#link-lcc p {
  font-size: 16px;
  font-weight: 600;
  color: rgb(61, 61, 61);
}

.contact-info {
  flex: 1;
  /* border: 1px solid rgb(255, 183, 0); */
  padding-top: 0px;
}

.contact-info div {
  display: flex;
  justify-content: space-between;
  background-color: rgb(120, 5, 64);
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  margin-left: 50px;
  padding-left: 10px;
  width: 300px;
}

.contact-info div:hover {
  background-color: rgb(94, 5, 76);
}

.contact-info span {
  margin: 4px;
}

.contact-info a {
  text-decoration: none;
  color: #fff;
  background-color: rgb(94, 5, 76);
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
}

.last-info {
  flex: 1;
  /* border: 1px solid rgb(61, 1, 58); */
  background-color: rgb(244, 242, 243);
  margin-top: 15px;
}

.footer {
  /* margin-left: 70px; */
  padding: 15px;
}

.footer p {
  font-weight: bold;
  font-size: 25px;
  color: rgba(115, 8, 6, 0.97);
  margin-bottom: 0;
}

.footer ul {
  padding-top: 0;
  margin-top: 0;
  list-style: square;
  color: rgb(61, 61, 61);
}

/* ////***Loader */

.loader {
  color: rgb(247, 217, 187);
  font-family: sans-serif;
  font-weight: lighter;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(30, 1, 56);
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: fixed;
  /* transition: 100ms; */
}

.loader img {
  width: 65px;
}

.loader p {
  margin-left: 10px;
}

.loader.hidden {
  animation: fadeOut 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@media (max-width: 900px) {
  .landingPageBody {
    /* width:initial; */
  }
  .landingPage-container {
    margin: 0;
    width: 100%;
  }
  .first-info {
    flex-direction: column;
  }
  .first-info-a {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 5px;
    justify-content: center;
  }
  /* .first-info-a h3 {
            margin:auto
        }

        .first-info-a p {
            align-self: ;
            margin:15px
        } */
  .second-info {
    display: flex;

    flex-direction: column;
  }

  .cloudMapContainer {
    flex: 1;
    padding: 15px;
    border: 1px solid rgb(4, 154, 39);
  }

  #cloud-map {
    height: 400px;
  }
  #link-lcc a {
    font-size: 20px;
  }

  #link-lcc p {
    font-size: 14px;
  }

  /* .contact-info{

    } */
  .contact-info div {
    display: flex;
    justify-content: space-between;
    background-color: rgb(120, 5, 64);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin: 15px;
    /* padding-left:10px ; */
    /* padding: 15px; */
    width: initial;
  }
  .landing-logo {
    justify-content: center;
  }

  .footer {
    margin-left: 5px;
  }

  .leaflet-control-pan {
    display: none;
  }
  .tab-content.active ~ #map {
    margin-left: 0;
  }

  .tab-content {
    transition: 700ms;
  }


    .loader img {
        width: 50px;
    }

    .loading {
        display: none;
    }
}

